<!DOCTYPE html>
<html lang="en" ng-App="shippingApp">

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Alpha Web Storefront</title>

        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="shipping.css">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

    <body>
        <div class="banner">
            <div class="banner-text">
                <h1>Alpha Web Storefront</h1>
                <nav class="menu" style="float: right;">
                    <a href="homepage.html">Home</a>
                    <a href="shoppingcart.html">Shopping Cart</a>
                    <a href="shoppermanagement.html">Sign In</a>
                    <a href="shipping.html">Shipping Details</a>
                    <a href="productmanagement.html">Product Details</a>
                    <a href="billingReturns.html">Billing/Returns</a>
                </nav>
            </div>
        </div>

        <div class="container mt-5" data-ng-controller="Ctrl">
            <h1>Shipping Information</h1>
    
            <form id="shippingform" data-ng-submit="submit()">
                <div class="form-group row">
                    <label for="productid" class="col-sm-2 col-form-label">Product ID: </label>
                    <div class="col-sm-10">
                        <input data-ng-model="shipping.productid" id="productid" class="form-control" placeholder="Product ID" maxlength="25">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Shopper Name: </label>
                    <div class="col-sm-10">
                        <input data-ng-model="shipping.name" id="name" class="form-control" placeholder="Shopper Name" maxlength="25">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipdest" class="col-sm-2 col-form-label">Shipping Destination: </label>
                    <div class="col-sm-10">
                        <input data-ng-model="shipping.shipdest" id="shipdest" class="form-control" placeholder="Shipping Destination" maxlength="25">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipcarrier" class="col-sm-2 col-form-label">Shipping Carrier: </label>
                    <div class="col-sm-10">
                        <input data-ng-model="shipping.shipcarrier" id="shipcarrier" class="form-control" placeholder="Shipping Carrier" maxlength="50">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="shipmethod" class="col-sm-2 col-form-label">Shipping Method: </label>
                    <div class="col-sm-10">
                        <input data-ng-model="shipping.shipmethod" id="shipmethod" class="form-control" placeholder="Shipping Method" maxlength="25">
                    </div>
                </div>
            
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>

        <div>
            <p>{{ response }}</p>
        </div>

        <script>
            document.getElementById('shippingform').addEventListener('submit', function (event) {
                event.preventDefault();

                let shipdest = document.getElementById('shipdest').value;
                if (shipdest.length < 5 || shipdest.length > 50) {
                    alert('Shipping Destination must be between 5 and 50 characters.');
                    return;
                }
                
                alert('Form submitted successfully!');
            });

            let shippingJSON = {
                "ShippingDestination" : shipdest,
                "ShippingCarrier": shipcarrier,
                "ShippingMethod": shipmethod,
            }
            
            angular.module('shippingApp', [])
            .controller('Ctrl', ['$scope', '$http', function ($scope, $http) {
                $scope.shipping = {};
                $scope.response = '';

                $scope.submit = function () {
                    const query = {
                        productid: $scope.shipping.productid,
                        name: $scope.shipping.name,
                        shipdest: $scope.shipping.shipdest,
                        shipcarrier: $scope.shipping.shipcarrier,
                        shipmethod: $scope.shipping.shipmethod
                    };

                    $http({
                        method: 'GET',
                        url: 'http://localhost:3000/CreateShipping',
                        params: query,
                    }).then(function (response) {
                        $scope.response = 'Shipping added successfully!';
                        console.log(response.data);
                    }).catch(function (error) {
                        $scope.response = 'Error adding shipping.';
                        console.error(error);
                    });
                };
            }]);

        </script>
    </body>
</html>
