<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StoreFront Name</title>
        
        <!--bootstrap library--!>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

        <link rel="stylesheet" href="link to css page">

        
    </head>
    <body>
        <!--main header--!>
        <h1>Sign In Here</h1>
        
        
        <div>
            <form>
                <div class="form-group row">
                    <label for=firstName>First Name</label>
                    <input id="firstName" class="form-control" placeholder="First Name" maxlength="25" data-ng-model="firstName" required>
                </div>
                <div class="form-group row">
                    <label for=lastName>Last Name</label>
                    <input id="lastName" class="form-control" placeholder="Last Name" maxlength="25" data-ng-model="lastName" required>
                </div>  
                <div class="form-group row">
                    <label for=email>Email</label>
                    <input id="email" class="form-control" placeholder="Email" maxlength="25" data-ng-model="email" required>
                </div>  
                <div class="form-group row">
                    <label for=phoneNum>Phone Number</label>
                    <input id="phoneNum" class="form-control" placeholder="Phone Number" maxlength="25" data-ng-model="phoneNum" required>
                </div>
                <div>
                    <input id="submit" type="submit" class="btn btn-primary" value="Submit">
                </div>  
            </form>
        </div>

        <script>
        </script>
        
    </body>
</html>
